body {
  background-color: #f2f2f2;
  font-size: 12px;
}
.container_all {
  width: 100%;
  min-width: 1200px;
  font-size: 12px;
  color: #b1b4b7;
}
.header {
  background-color: #ffffff;
  width: 86%;
  height: 70px;
  padding-left: 14%;
}
.header div {
  display: inline-block;
}
.header div img {
  width: 100%;
  vertical-align: middle;
}
.header .header_logo {
  margin: 0;
  width: 6.33%;
  padding: 0 40px 15px 15px;
}
.header .header_nav {
  margin-left: 35px;
  margin-top: 20px;
  width: 43.75%;
  color: #989a9b;
}
.header .header_nav ul {
  list-style: none;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header .header_nav ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  text-align: center;
}
.header .header_nav ul li center {
  width: 70px;
  border-bottom: 3px solid transparent;
  margin-left: 42px;
  padding: 7px;
}
.header .header_nav ul li center:hover,
.header .header_nav ul li center:focus {
  cursor: pointer;
}
.header .header_search {
  position: relative;
  margin-top: 20px;
}
.header .header_search .header_search_input {
  width: 196px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d2d1d1;
  color: #d2d1d1;
  border-radius: 15px;
  padding-left: 16px;
}
.header .header_search .img_search {
  width: 10%;
  position: absolute;
  left: 180px;
  top: 7px;
}
.header .header_search .img_search img {
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 60%;
  min-width: 768px;
  margin-top: 24px;
  margin-left: 35px;
  height: 900px;
  display: inline-block;
  vertical-align: top;
}
.container .picture_wrap {
  cursor: pointer;
  width: 236px;
  margin-right: 20px;
  margin-bottom: 17px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.container .picture_wrap .picture_style {
  width: 236px;
  z-index: 20;
}
.container .picture_wrap .picture_style img {
  width: 100%;
}
.container .picture_wrap .picture_word {
  width: 221px;
  height: 18px;
  line-height: 18px;
  color: #989a9b;
  background-color: #ffffff;
  padding: 15px 0 15px 15px;
}
.container .picture_wrap .picture_word h3 {
  font-size: 12px;
  display: inline-block;
  font-weight: normal;
}
.container .picture_wrap .picture_word ul {
  display: inline-block;
}
.container .picture_wrap .picture_word ul li {
  display: inline-block;
  margin-left: 3px;
}
.container .picture_wrap .picture_padding {
  width: 236px;
  height: 16px;
  background-color: transparent;
}
.container .picture_wrap .picture_play {
  bottom: 70px;
  left: 10px;
  position: absolute;
  z-index: 25;
  width: 30px;
  height: 26px;
  border-radius: 3px;
  opacity: 0.6;
  background: #000000 url(../img/iconfont-player-play.png) no-repeat;
  background-size: 15px;
  background-position: center;
}
.index_cover {
  display: none;
  width: 60%;
  margin-top: 24px;
  background-color: #ffffff;
  vertical-align: top;
  position: absolute;
  z-index: 99;
  left: calc(12% + 205px);
  overflow-y: scroll;
  height: 100%;
}
.index_cover .showpicture {
  border: 0px solid #000;
  width: 60%;
  display: inline-block;
}
.index_cover .showpicture .guidewords {
  color: #989a9b;
  font-size: 12px;
  padding: 20px;
}
.index_cover .showpicture .guidewords div {
  display: inline-block;
}
.index_cover .showpicture div a img {
  width: 100%;
}
.index_cover .showpicture .showP {
  padding: 0 20px;
}
.index_cover .showpicture .tag_style {
  display: inline-block;
  font-size: 12px;
  padding: 10px 20px 10px;
  color: #979b9f;
}
.index_cover .showpicture .button {
  display: inline-block;
  background-color: #979b9f;
  color: #ffffff;
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 10px;
  text-weight: bold;
  margin-right: 5px;
}
.index_cover .showcode {
  vertical-align: top;
  color: #989a9b;
  border: 0px solid #000;
  padding: 20px 0;
  width: 200px;
  display: inline-block;
  font-size: 12px;
  max-height: 300px;
}
.index_cover .showcode .choose {
  text-align: center;
  display: inline-block;
  width: 60px;
  border-bottom: 3px solid transparent;
  border-collapse: collapse;
}
.index_cover .showcode .choose_after {
  color: #f6b344;
  border-bottom: 3px solid #f6b344;
}
.index_cover .showcode .choose:hover {
  cursor: pointer;
}
.index_cover .showcode .choose_hover {
  color: #f6b344;
  border-bottom: 3px solid #f6b344;
  border-collapse: collapse;
  display: inline-block;
  width: 60px;
}
.index_cover .showcode .code div {
  padding: 20px;
  color: #f6b344 !important;
  background-color: #fff !important;
}
.index_cover .showcode .codeshow {
  display: block;
}
.index_cover .showcode .codehidden {
  display: none;
}
.borderOrange {
  border-left: 3px solid #f39800;
}
.wrapaside {
  display: inline-block;
  margin-left: 12%;
  vertical-align: top;
  position: relative;
}
.wrapaside h2 {
  margin: 0;
  padding: 0;
}
.aside {
  width: 170px;
  background-color: #ffffff;
  margin-top: 24px;
}
.aside .Dynamic {
  border-top: 1px solid #f2f2f2;
  color: #a0a3a7;
}
.aside .Dynamic .secondList_div_style {
  color: #989a9b;
  font-size: 12px;
  border-top: 1px solid #f2f2f2;
  margin: 0;
  overflow: hidden;
  padding: 15px 35px;
  text-align: center;
}
.aside .Dynamic .secondList_div_style .secondList_a_style {
  color: #a0a3a7;
  display: block;
  font-size: 12px;
  margin: 0;
  text-decoration: none;
}
.aside .Dynamic .secondList_div_style a:hover {
  color: #f39800;
}
.aside .Dynamic .firstList_h2_style {
  padding: 5px 0;
  position: relative;
  border-left: 3px solid transparent;
}
.aside .Dynamic .firstList_h2_style .firstList_a_style {
  color: #989a9b;
  display: block;
  font-size: 12px;
  margin: 0;
  padding: 10px 10px;
  text-decoration: none;
}
.aside .Dynamic .firstList_h2_style a:hover {
  color: #f39800;
}
.detail_back {
  width: 8%;
}
.detail_back img {
  width: 100%;
}
.asideTag {
  font-size: 12px;
  width: 170px;
  background-color: #ffffff;
  margin-top: 15px;
}
.asideTag .Tag_style {
  margin: 5px;
  color: #989a9b;
  display: inline-block;
}
.asideTag .Tag_style:after {
  content: "|";
  color: #989a9b;
  padding-left: 10px;
}
.asideTag div:hover {
  color: #f39800;
  cursor: pointer;
}
.footer {
  background-color: #424347;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
}
.footer .footer_word {
  height: 55px;
  line-height: 20px;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 12px;
  color: #68696c;
  padding-top: 20px;
}
.loading {
  display: none;
  width: 3%;
  position: fixed;
  bottom: 0%;
  left: 50%;
}
.loading img {
  width: 100%;
}
.scrollRocket {
  position: fixed;
  right: 5%;
  bottom: 3%;
  width: 3%;
  cursor: pointer;
  z-index: 199;
  opacity: 0;
}
.scrollRocket img {
  width: 100%;
}
